<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="ISO-8859-1">
<title>Employee Section</title>

<link rel="stylesheet" type="text/css" media="all"
      href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
<link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
/>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<div align="right">
    <p th:text="${'Hello, ' + session.user.username }" ></p>
    <a th:href="@{/Logout}">Logout</a>
</div>

<a href="GetSalesReport">Go to sales reports section</a><br>
<div align="left">
    <h4>Optional products form:</h4>

    <table>
        <td>
    <form action="AddOptionalProduct" method="POST">
        Name: <input type="text" name="name" required> <br>
        Monthly fee: <input type="number" name="fee" min=0 required><br>
        <input type="submit" value="Add product">
    </form>
        </td>
    </table>
</div>
<div align="right">
    <h4>Service package form:</h4>

    <table>
        <td>
    <form action="CreateServicePackage" method="POST">
        Name: <input type="text" name="name" required> <br>
        <h5>Select optional products:</h5> <br>


            <select id="ops" name="ops" class="select-multiple" multiple required>
                <option th:each="op :${ops}" th:value="${op.getId()}"
                        th:text="|${op.getName()} (${op.getMonthlyFee()} euros)|">12 months / 11.99 euros
                </option>
            </select><br>


        <h5>Select validity period:</h5> <br>


            <select id="vp" name="vp" class="select-multiple" multiple required>
                <option th:each="vp :${val_pers}" th:value="${vp.getId()}"
                        th:text="|${vp.getMonths()} months / ${vp.getFee()} euros|">12 months / 11.99 euros
                </option>
            </select><br>


        <h5>Select service:</h5> <br>


            <select id="servs" name="servs" class="select-multiple" multiple required>
                <option th:each="s :${services}" th:value="${s.getId()}"
                        th:text="|Id: ${s.getId()} / Type: ${s.getType()} |">Free giga
                </option>
            </select><br>

        <input type="submit" value="Create service package">
    </form>
        </td>
    </table>
</div>

<h4>Created Service Packages:</h4>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sp : ${service_packages}">
        <td th:text="${sp.getId()}"></td>
        <td th:text="${sp.getName()}"></td>
    </tr>
    </tbody>
</table>
    <h4>Optional products available:</h4>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Monthly Fee</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="op : ${ops}">
            <td th:text="${op.getId()}"></td>
            <td th:text="${op.getName()}"></td>
            <td th:text="${op.getMonthlyFee()}"></td>
        </tr>
        </tbody>
    </table>
<h4>Validity period available:</h4>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Month</th>
        <th>Fee</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vp : ${val_pers}">
        <td th:text="${vp.getId()}"></td>
        <td th:text="${vp.getMonths()}"></td>
        <td th:text="${vp.getFee()}"></td>
    </tr>
    </tbody>
</table>

<h4>Services available:</h4>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Number Of Minutes</th>
        <th>Fee For Minutes</th>
        <th>Number Of SMS</th>
        <th>Fee For SMS</th>
        <th>Number Of Giga</th>
        <th>Fee For Giga</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${services}">
        <td th:text="${s.getId()}"></td>
        <td th:text="${s.getType()}"></td>
        <td th:text="${s.getNumberMinutes()}"></td>
        <td th:text="${s.getFeeMinutes()}"></td>
        <td th:text="${s.getNumberSms()}"></td>
        <td th:text="${s.getFeeSms()}"></td>
        <td th:text="${s.getNumberGiga()}"></td>
        <td th:text="${s.getFeeGiga()}"></td>
    </tr>
    </tbody>
</table>



</div>

</body>
<script>
    $(".select-multiple").selectpicker();
</script>
</html>